<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="static\login.css"> <!-- Link para o seu CSS -->
</head>
<body>
    <header>
        <div class="header-logo">
            <img src="static\imagens\cobam_logo.png" alt="Logo"> <!-- Adicione seu logo -->
        </div>
        <div class="texto">
            <h1>SISTEMA DE CONTROLE - COBAM</h1>
        </div>
    </header>
    
    <div class="container">
        <div class="main-content">
            <div class="table-container">
                <h2>Entrar na sua conta</h2>
                <form method="POST">
                    <label for="email">Email:</label>
                    <input type="email" id="email" name="email" required placeholder="Digite seu email">
                    <label for="senha">Senha:</label>
                    <input type="password" id="senha" name="senha" required placeholder="Digite sua senha">
                    <button type="submit" class="addBtn">Entrar</button>
                </form>
                <div class="signup-link">
                    <p>Ainda não tem uma conta? <a href="{{ url_for('cadastro') }}">Crie uma conta</a></p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
